# Kütüphanelerin Import Edilmesi

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N
5,14,Y,7,BS,N,N,Y
6,1,N,0,BS,N,N,N
7,1,N,1,PhD,Y,N,N
8,4,Y,1,BS,N,Y,Y
9,0,N,0,PhD,Y,N,Y
10,0,N,0,BS,Y,Y,Y
11,2,N,0,BS,Y,Y,Y
12,8,N,6,BS,N,N,N
13,3,Y,1,MS,Y,N,Y
14,19,N,2,PhD,Y,N,N
15,1,N,0,BS,N,N,N

# Mapping İşlemlerinin Yapılması

In [3]:
duzetme_mapping = {'Y': 1, 'N': 0}

df['IseAlindi'] = df['IseAlindi'].map(duzetme_mapping)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(duzetme_mapping)
df['Top10 Universite?'] = df['Top10 Universite?'].map(duzetme_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(duzetme_mapping)
duzetme_mapping_egitim = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzetme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

# X ve Y değerlerinin Ayrıştırılması

In [4]:
y = df[['IseAlindi']]
X = df.drop(['IseAlindi'], axis=1)

In [5]:
X.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

# Decision Tree Algoritmasının Uygulanması

In [6]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X.values,y) #Sadece X olarak uyguladığımda değişken adlarını kaldırmamız gereken bir uyarı veriyor.

# Uygulamanın Fonksiyona Çevrilmesi

In [13]:
def human_resources():
    basvuran=[]
    basvuran.append(input("Başvuranın deneyim yılı(sayı): "))
    basvuran.append(input("Başvuran çalışıyor mu?(Hayır:0, Evet:1) "))
    basvuran.append(input("Başvuranın eskiden çalıştığı firma sayısı: "))
    basvuran.append(input("Başvuranın eğitim seviyesi(BS:0, MS:1, PhD:2): "))
    basvuran.append(input("Başvuran top 10 üniversiteden birinde okumuş mu?(Hayır:0, Evet:1) "))
    basvuran.append(input("Başvuran şirketimizde staj yaptı mı?(Hayır:0, Evet:1) "))
    if (clf.predict([basvuran])) == 0:
        print("Başvuran şirket kriterlerine uygun değildir.")
    else:
        print("Başvuran şirket kriterlerine uygundur.")

In [14]:
human_resources()

Başvuranın deneyim yılı(sayı): 5
Başvuran çalışıyor mu?(Hayır:0, Evet:1) 1
Başvuranın eskiden çalıştığı firma sayısı: 3
Başvuranın eğitim seviyesi(BS:0, MS:1, PhD:2): 0
Başvuran top 10 üniversiteden birinde okumuş mu?(Hayır:0, Evet:1) 0
Başvuran şirketimizde staj yaptı mı?(Hayır:0, Evet:1) 0
Başvuran şirket kriterlerine uygundur.

In [12]:
human_resources()

Başvuranın deneyim yılı(sayı): 2
Başvuran çalışıyor mu?(Hayır:0, Evet:1) 1
Başvuranın eskiden çalıştığı firma sayısı: 7
Başvuranın eğitim seviyesi(BS:0, MS:1, PhD:2): 0
Başvuran top 10 üniversiteden birinde okumuş mu?(Hayır:0, Evet:1) 0
Başvuran şirketimizde staj yaptı mı?(Hayır:0, Evet:1) 0
Başvuran şirket kriterlerine uygundur.